@import url(./darkMode.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --light-white-color: #f0f0f0;
    --light-gray-color: #e5e5e5;
    --border-color: #ccc;
    --primary-color: #3b82f6;
    --secondary-color: #171717;
    --overlay-dark-color: rgba(0, 0, 0, 0.6);
}

body {
    font-size: 1em;
    height: 100vh;
    width: 100vw;
    /* background: rgba(128, 128, 128, 0.663); */
}

#container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 225px 1fr;
    grid-template-rows: 60px 1fr;
}

#container.toggle-bar {
    grid-template-columns: 0px 1fr;
}

#container.toggle-bar aside {
    display: none;
}

/* Header Layout */

header {
    grid-row: 1;
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px 0 10px;
    gap: 10px;
}

header .left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: 10px;
}

header .left #home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


header .left #logo {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}

header .left #logo i {
    font-size: 46px !important;
    color: #FF0000;
}

header .left .jamil {
    margin-top: -10px;
    font-size: 0.5em;
}

header .center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
}

header .center #input-div {
    flex: 1 10 auto;
}

.center #input-div #search-input {
    font-size: 1.05em;
    padding: 10px 0px 10px 10px;
    border-radius: 3em 0 0 3em;
    height: 35px;
    border: 1px solid var(--border-color);
    width: 100%;
    outline: none;
}

.center #search-button {
    padding: 0 10px 0 10px;
    width: auto;
    border: 1px solid var(--border-color);
    border-left: 0;
    border-radius: 0 3em 3em 0;
    height: 35px;
}

header .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.right button {
    border: 1px solid var(--border-color);
    border-radius: 50%;
}

header button {
    margin-right: 3px;
    height: 35px;
    width: 35px;
    background: none;
    border: none;
}

header button i {
    font-size: 24px;
}

/* Sidebar layout */

aside {
    grid-row: 2;
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    border: 1px solid var(--border-color);
}

aside .nav-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

}

.nav-container .nav-links {
    text-align: center;
    padding: 10px;
    border-radius: 0.5em;
    background: var(--border-color);
}

aside footer {
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 0.9em;
    gap: 10px;
    padding: 10px;
}

aside footer div {
    display: flex;
    flex-wrap: wrap;
    line-height: 5%;
}

aside footer div a {
    margin: 10px 10px 0 0;
}

aside a {
    color: black;
    text-decoration: none;
    padding-bottom: 10px;
}

/* main Layout */

main {
    grid-row: 2;
    grid-column: 2 / span 1;
    border-top: 1px solid var(--border-color);
    /* padding: 10px 0 10px 10px; */
    overflow: hidden;
}

main .category-list {
    gap: 5px;
    padding: 10px;
    overflow-x: auto;
    /* overflow-y: hidden; */
    white-space: nowrap;
    scrollbar-width: none;
    border-bottom: 1px solid var(--border-color);

}

main .category-list button {
    background: var(--border-color);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

main .video-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    padding: 10px;
    width: 100%;
    height: calc(100% - 46px);
    overflow: auto;
}

.video-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.video-card .thumbnails {
    object-fit: cover;
    min-height: 1px;
    min-width: 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.249);
}



.video-card .icon-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    padding: 10px;
}

.icon-title .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    font-size: 0.98em;
}

.icon-title .title-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.title-div .channel-icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.error {
    height: 80px;
    padding: 10px;
    background-color: #f8d7da;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #f5c6cb;
}

.error p:first-of-type {
    font-size: 1.5em;
    /* text-shadow: 1px 1px 2px black; */
    color: #a40a1a;
    border-radius: 0.25rem;
}